.sec2 {
    /* padding: 80px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/* Heading center */
.sec-2-1 {
    text-align:center;
    margin-bottom: 40px;
}

/* IMPORTANT PART */
.sec-2-2 {
    display: flex;
    align-items: flex-start;   /* image aligns with top of boxes */
    justify-content: center;
    gap: 50px;
    margin-top: 60px;                   /* space between image & text */
}

/* Image */
.sec-2-2-1 img {
    width: 230px;
    border-radius: 50%;
    flex-shrink: 0;
    display: block;
}



/* Text beside image */
.sec-2-2-2 {
    max-width: 500px;
    line-height: 1.9;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 650px;
    
}
.sec-2-2-2-1 {
    display: flex;
    gap: 50px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    gap: 5px;
}
.box img {
    width: 35px;
}
.box>:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
}
.box>:nth-child(3) .box>:nth-child(4) {
    font-size: 17px;
} 
.p1{
    width:80% ;
    margin: 0 auto;        /* centers paragraph */
    text-align: center;
    
}
@media (max-width: 1024px) {
    .sec-2-2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sec-2-2-2-1 {
        flex-direction: column;
        align-items: center;
    }

    .sec-2-2-2 {
        align-items: center;
    }
}






